<%= turbo_frame_tag "dialog" do %>
  <dialog class="dialog" data-controller="dialog" data-dialog-open-value="true">
    <div class="dialog__header">
      <h3>Edit bank account</h3>
      <button data-action="dialog#close">X</button>
    </div>

    <div class="dialog__body">
      <%= render "form", bank_account: @bank_account %>
    </div>
  </dialog>
<% end %>
