<div class="container">
  <div class="bank_accounts__header">
    <h1>Bank Accounts</h1>
    <%= link_to "New bank account", new_bank_account_path, class: "btn", data: { turbo_frame: "dialog" } %>
  </div>

  <div class="table--responsive">
    <table class="table">
      <thead>
        <tr>
          <th class="table__header">BANK ACCOUNT</th>
          <th class="table__header table__header--right">BALANCE</th>
          <th class="table__header table__header--right">ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        <%= render @bank_accounts %>
      </tbody>
    </table>
  </div>
</div>
