<%= turbo_frame_tag "dialog" do %>
  <dialog class="dialog" data-controller="dialog" data-dialog-open-value="true">
    <div class="dialog__header">
      <h3>New bank account</h3>
      <button class="dialog__close" data-action="dialog#close">×</button>
    </div>

    <div class="dialog__body">
      <%= render "form", bank_account: @bank_account %>
    </div>
  </dialog>

<% end %>
