.input {
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  background-color: var(--color-base-background);
  border: solid 1px var(--color-base-border);
  border-radius: 0.5rem;
}

.input::placeholder {
  color: var(--color-base-text-subtle);
}

.input:focus-within {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-base-surface);
}
