.transactions__header {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-block-end: 2rem;
}

.transaction__actions {
  display: flex;
  justify-content: end;
  gap: 1rem;
}
