<div class="categories container">
  <div class="categories__header">
    <h1>Categories</h1>
    <%= link_to "New category", new_category_path, class: "btn", data: { turbo_frame: "dialog" } %>
  </div>

  <div class="table--responsive">
    <table class="table">
      <thead>
        <tr>
          <th class="table__header">CATEGORY</th>
          <th class="table__header">DESCRIPTION</th>
          <th class="table__header table__header--right">ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        <%= render @categories %>
      </tbody>
    </table>
  </div>
</div>
