<%= turbo_frame_tag "dialog" do %>
  <dialog class="dialog" data-controller="dialog" data-dialog-open-value="true">
    <div class="dialog__header">
      <h3>Edit transaction</h3>
      <button class="dialog__close" data-action="dialog#close">×</button>
    </div>

    <div class="dialog__body">
      <%= render "form", transaction: @transaction %>
    </div>
  </dialog>
<% end %>
